{{!-- {{log "RADIAL MENU"}}
{{log top}}
{{log bottom}} --}}

<div class="menu-positioner">
	<section id="menu-{{top.name}}-{{bottom.name}}" class="radial-menu size{{top.radialSize}}px-8items depth-2">	
		<video width="200" height="200" autoplay muted loop>
			<source src="/systems/betterangels/assets/animations/radial-menu-bg.webm" type="video/webm">
		</video>
		{{!-- {{#with (lookup data top) as | topData |}} --}}
		{{!-- {{#with (lookup ../data ../bottom) as | bottom |}} --}}
		<ul class="menu-container">
			<li class="menu-button button-slide-right">
				<button id="menu-slide-{{bottom.name}}" class="trait-button button-bottom button-slide-right
					{{~#if bottom.canSlideTo}} active-slide-right{{/if}}"
					data-clickaction="slide" data-target="{{bottom.name}}">
				</button>
			</li>
			<li class="menu-button">
				<button id="menu-add-drop-{{bottom.name}}" class="trait-button button-bottom button-add-drop
					{{~#if bottom.canAdd}} active-add{{/if}}
					{{~#if bottom.canDrop}} active-drop{{/if}}"
					data-clickaction="add" data-contextaction="drop" data-target="{{bottom.name}}">
				</button>
			</li>
			<li class="menu-button"></li>
			<li class="menu-button"></li>
			<li class="menu-button button-slide-left">
				<button id="menu-slide-{{top.name}}" class="trait-button button-top button-slide-left
					{{~#if top.canSlideTo}} active-slide-left{{/if}}"
					data-clickaction="slide" data-target="{{top.name}}">
				</button>
			</li>
			<li class="menu-button">
				<button id="menu-add-drop-{{top.name}}" class="trait-button button-top button-add-drop
					{{~#if top.canAdd}} active-add{{/if}}
					{{~#if top.canDrop}} active-drop{{/if}}"
					data-clickaction="add" data-contextaction="drop" data-target="{{top.name}}">
				</button>
			</li>
			<li class="menu-button"></li>
			<li class="menu-button"></li>
		</ul>
	</section>
</div>