<div class="trait-pair {{type}}">
	<label id="trait-label-{{top}}" class="droppable sinister {{type}}">
		<span class="display trait {{type}}" data-type="{{type}}" data-target="{{top}}" data-value={{lookup (lookup data top) "value"}}>{{case "title" top}}</span>
	</label>
	<div class="trait-grid radial-hover" data-top="{{top}}" data-bottom="{{bottom}}">
		{{#with (lookup data top) as | topData |}}
		{{#with (lookup ../data ../bottom) as | botData |}}
		{{#for topData.value}}
			<div id="{{topData.name}}-{{math @index "++"}}" class="dot top-{{math @index "++"}} sinister">
				<span class="dot-slot full">&nbsp;</span>
			</div>
		{{/for}}
		{{#for topData.max topData.value}}
			<div id="{{topData.name}}-{{math @index "++"}}" class="dot top-{{math @index "++"}} sinister">
				<span class="dot-slot">&nbsp;</span>
			</div>
		{{/for}}
		{{#for botData.value (math botData.max "--") -1}}
			<div id="{{botData.name}}-{{math @index "++"}}" class="dot bottom-{{math @index "++"}} virtuous">
				<span class="dot-slot">&nbsp;</span>
			</div>
		{{/for}}
		{{#for botData.min (math botData.value "--") -1}}
			<div id="{{botData.name}}-{{math @index "++"}}" class="dot bottom-{{math @index "++"}} virtuous">
				<span class="dot-slot full">&nbsp;</span>
			</div>
		{{/for}}
		{{/with}}
		{{/with}}
		{{> "/systems/betterangels/hbs/actor/parts/radial-menu.hbs" this}}
	</div>
	<label id="trait-label-{{bottom}}" class="droppable virtuous {{type}}">
		<span class="display trait {{type}}" data-type="{{type}}" data-target="{{bottom}}" data-value={{lookup (lookup data bottom) "value"}}>{{case "title" bottom}}</span>
		<span class="draggable trait {{type}}" data-type="{{type}}" data-target="{{bottom}}" data-value={{lookup (lookup data bottom) "value"}}>{{case "title" bottom}}</span>
	</label>
</div>



{{!-- 

<div class="trait-cell cell-1">
	<div class="trait-name" data-trait="greed" data-value="0" data-type="tactic" data-sub-type="sinister">
		<label class="trait-label"
			style="transform-origin: 50% 50%; transform: translate(-50%, -50%) translate(20.4063px, 7px); display: block; position: absolute; pointer-events: none;">Greed</label>
		<div class="trait-dragger" data-trait="greed" data-value="0" data-type="tactic" data-sub-type="sinister"
			style="transform-origin: 50% 50%;transform: translate(-50%, -50%) translate(59.4624px, 7px);display: block;position: absolute;pointer-events: all;width: 119px;height: 14px;transform: translate(59.4624px, 7px);">
			<div class="trait-big-display"
				style="transform-origin: 50% 50%; transform: translate(-50%, -50%) translate(74.328px, 7px); display: block; position: absolute; pointer-events: none; width: 200%; height: 500%;">
				<label class="trait-label"
					style="transform-origin: 50% 50%; transform: translate(-50%, -50%) translate(65.1159px, 35px); display: block; position: absolute; pointer-events: none;">Greed</label>
			</div>
		</div>
	</div>
	<div class="dot-line tactic sinister">
		<div id="greed-1" class="dot dot-1"></div>
		<div id="greed-2" class="dot dot-2"></div>
		<div id="greed-3" class="dot dot-3"></div>
		<div id="greed-4" class="dot dot-4"></div>
		<div id="greed-5" class="dot dot-5"></div>
	</div>
	<div class="trait-name" data-trait="generosity" data-value="0" data-type="tactic" data-sub-type="virtuous">
		<label class="trait-label"
			style="transform-origin: 50% 50%; transform: translate(-50%, -50%) translate(111.312px, 7px); display: block; position: absolute; pointer-events: none;">Generosity</label>
		<div class="trait-dragger" data-trait="generosity" data-value="0" data-type="tactic" data-sub-type="virtuous"
			style="transform-origin: 50% 50%; transform: translate(-50%, -50%) translate(89.1936px, 7px); display: block; position: absolute; pointer-events: all; width: 119px; height: 14px;">
			<div class="trait-big-display"
				style="transform-origin: 50% 50%; transform: translate(-50%, -50%) translate(74.328px, 7px); display: block; position: absolute; pointer-events: none; width: 200%; height: 500%;">
				<label class="trait-label"
					style="transform-origin: 50% 50%; transform: translate(-50%, -50%) translate(126.291px, 35.5px); display: block; position: absolute; pointer-events: none;">Generosity</label>
			</div>
		</div>
	</div>
	<div class="dot-line tactic virtuous">
		<div id="generosity-1" class="dot dot-1"></div>
		<div id="generosity-2" class="dot dot-2"></div>
		<div id="generosity-3" class="dot dot-3"></div>
		<div id="generosity-4" class="dot dot-4"></div>
		<div id="generosity-5" class="dot dot-5"></div>
	</div>

	<div class="menu-positioner">
		<section id="menu-greed-generosity" class="radial-menu size50px-8items depth-2">
			<video width="200" height="200" autoplay="" muted="" loop="">
				<source src="/systems/betterangels/assets/animations/radial-menu-bg.webm" type="video/webm">
			</video>
			<ul class="menu-container">
				<li class="menu-button button-slide-right">
					<button id="menu-slide-generosity" class="trait-button button-bottom button-slide-right"
						data-clickaction="slide" data-target="generosity">
					</button>
				</li>
				<li class="menu-button">
					<button id="menu-add-drop-generosity" class="trait-button button-bottom button-add-drop active-add"
						data-clickaction="add" data-contextaction="drop" data-target="generosity">
					</button>
				</li>
				<li class="menu-button"></li>
				<li class="menu-button"></li>
				<li class="menu-button button-slide-left">
					<button id="menu-slide-greed" class="trait-button button-top button-slide-left" data-clickaction="slide"
						data-target="greed">
					</button>
				</li>
				<li class="menu-button">
					<button id="menu-add-drop-greed" class="trait-button button-top button-add-drop active-add"
						data-clickaction="add" data-contextaction="drop" data-target="greed">
					</button>
				</li>
				<li class="menu-button"></li>
				<li class="menu-button"></li>
			</ul>
		</section>
	</div>
</div> --}}