<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	{{log (bundle "this" this "actor" actor "data" data "config" config)}}
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <h2 class="mob charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h2>
			<h2 class="mob leadername"><input name="data.leadername" type="text" value="{{data.leadername}}" placeholder="Name of Leader" /></h2>
			<h2 class="mob size">
				<label>Size:</label><input name="data.size" type="number" value="{{data.size}}"/> (<span class="big-big-number big-number">{{data.curSize}}</span>)
				<label style="margin-left: 20px;">Resolve:</label><select name="data.resolve">
					<option name="" value="" selected hidden disabled></option>
					{{selectOptions config.mobResolve selected=data.resolve}}
        </select>
			</h2>
		</div>
	</header>
        

  {{!-- Sheet Body --}}
	<section class="sheet-body">
		<div class="mob-factors">
			<ul>
				<li><input name="data.factors.isLeaderArmed" type="checkbox" {{checked data.factors.isLeaderArmed}} /><span>mob leader is alive &amp; armed</span></li>
				<li><input name="data.factors.isHeavilyArmed" type="checkbox" {{checked data.factors.isHeavilyArmed}} /><span>many in mob are armed</span></li>
				<li><input name="data.factors.isCornered" type="checkbox" {{checked data.factors.isCornered}} /><span>mob is cornered</span></li>
				<li><input name="data.factors.isAlreadyMad" type="checkbox" {{checked data.factors.isAlreadyMad}} /><span>mob already angry at target</span></li>
				<li><input name="data.factors.isTrained" type="checkbox" {{checked data.factors.isTrained}} /><span>mob is trained for conflict</span></li>
				<li><input name="data.factors.isMotivated" type="checkbox" {{checked data.factors.isMotivated}} /><span>mob has strong motivation</span></li>
			</ul>
		</div>
		<div class="mob-stats">
			<ul>
				<li><label>Losses:</label><input name="data.sizeLost" type="number" value="{{data.sizeLost}}" /><label style="margin-left: 20px;">Current Size:</label><span class="big-number">{{data.curSize}}</span></li>
				{{#if data.isFleeing}}
				<li><span class="red-alert">MOB SCATTERS!</span></li>
				{{else}}
				<li style="text-align: center; font-size: 18px;"><label>{{data.leftToLose}} to go!</span></li>
				{{/if}}
			</ul>
			<ul>
				<li style="text-align: center;"><label>Total Advantage:<span class="big-number">+{{data.advantage.total}}</span></label></li>
				<li><label>... to Width:</label><input name="data.advantage.toWidth" type="number" value="{{data.advantage.toWidth}}"/><label style="margin-left: 15px;">... to Pool:<span class="big-number">+{{data.advantage.toPool}}</span></label></li>
			</ul>
			<div class="roll-buttons">
				<button id="mob-roll" data-dice-pool="{{data.dicePool}}">Roll {{data.dicePool}}</button>{{#if data.advantage.toWidth}}<span class="width-advantage">(+{{data.advantage.toWidth}} Width)</span>{{/if}}
			</div>			
		</div>
		<div class="mob-guidelines">
			<ul>
				<li>Mobs do damage to <span class="text-tactic">Courage</span> then <span class="text-strategy">Open</span>.</li>
				<li>Mobs can be damaged by anything that can target <span class="text-tactic">Courage</span>.</li>
				<li>Mobs cannot defend themselves.</li>
	      <li>Successful attacks also remove members equal to Width. Reason depends on Height:</li>
				<ul>
					<li><i>1-3:</i> Unhurt (run or surrender).</li>
					<li><i>4-6:</i> Lightly hurt.</li>
					<li><i>7-8:</i> Badly hurt.</li>
					<li><i>9-10:</i> Dead.</li>
				</ul>
			</ul>
		</div>


	</section>

</form>